@import "src/styles/Base.scss";

.collection-grid {
  .collection-card {
    // width: 33%;
    // height: auto;
    float: left;
    width: 210px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
}
