$PRIMARY_FONT: "Proxima Nova Reg", sans-serif;
$LIGHT_GRAY: #c9c9c9;

$LIGHT_GREEN: #cddc39;
$MEDIUM_GREEN: #c0ca33;
$FLUO_GREEN: #aeea00;

$WHITE_GREY: #eeeeee;
$LIGHT_GREY: #e0e0e0;
$MEDIUM_GREY: #bdbdbd;
$DARK_GREY: #424242;
$BLACK_GREY: #212121;

$RED: #ff0033;
