$DEEPBLACK: #222222;
$BLACK: #464646;
$RED: #ff0033;
$BACKGROUND: white ;
$TEXT: #999999;
$LIGHT_TEXT: #888888;
$PRIMARY_FONT: 'Proxima Nova Reg', sans-serif;
$LIGHT_FONT: 'Proxima Nova Light', sans-serif;
$TEAL: #00FFFF;
$BTN_TEAL: #3ACCED;
$LIGHT_TEAL: #51deff;
$NAVBAR_BLACK: #2b2b2b;
$LIGHT_GRAY: #c9c9c9;
$GREEN: #54DE8F;
$LIGHT_GREEN: #65f7a3;
$MINT_GREEN: #33e6b1;
$DARK_BLUE: #0F1825;

$LIME500: #CDDC39;
$LIME50: #F9FBE7;
$LIME100: #F0F4C3;
$LIME200: #E6EE9C;
$LIME300: #DCE775;
$LIME400: #D4E157;
$LIME500: #CDDC39;
$LIME600: #C0CA33;
$LIME700: #AFB42B;
$LIME800: #9E9D24;
$LIME900: #827717;
$LIMEA100: #F4FF81;
$LIMEA200: #EEFF41;
$LIMEA400: #C6FF00;
$LIMEA700: #AEEA00;

$GREY500: #9E9E9E;
$GREY50: #FAFAFA;
$GREY100: #F5F5F5;
$GREY200: #EEEEEE;
$GREY300: #E0E0E0;
$GREY400: #BDBDBD;
$GREY500: #9E9E9E;
$GREY600: #757575;
$GREY700: #616161;
$GREY800: #424242;
$GREY900: #212121;

$FOOTER_COLOR: $DARK_BLUE;

$HEADER_HEIGHT: 0;
$SIDEBAR_WIDTH: 300px;

$LETTER_SPACING: 4px;
