@import "src/styles/base.scss";
@import "src/styles/variables.scss";

header {
  background-color: $GREY900;
  min-height: 20px;
  color: $GREY300;
  display: flex;
  flex-direction: row;
  .header-item {
    padding: 5px;
  }
  .header-item:hover {
    background-color: $GREY800;
    cursor: pointer;
  }
}
